/* Landing */

.landing-Container {
    display: flex;
    flex-direction: column;
    height: 100vw;
    max-height: 100vw;

}

.div-Landing-Responsive-Conntainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    /* justify-content: space-evenly; */
    background-color: black;
    max-height: 50vw;
    height: 40vw;

}
.landing-Container-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
}
.landing-Container-div p{
    font-family: 'PressGothic', sans-serif;
    font-size: clamp(1.5vw, 2vw, 5rem);
    margin: 1vw 0 5vw 0;

}


.div-Landing-Responsive-Conntainer h1 {
    position: relative;
    color: rgb(138, 138, 138);
    font-family: 'PressGothic', sans-serif;
    font-size: clamp(0.7rem, 2vw, 4rem);
}

.text-Landing-Responsive-Conntainer{
    margin:0 5vw 0 5vw;
}
.text-Landing-Responsive-Conntainer h2{
    position: relative;
    margin-top: 2vw;
    margin-bottom: 12vw;
    color: rgb(138, 138, 138);
    font-family: 'PressGothic', sans-serif;
    font-size: clamp(0.5rem, 1.2vw, 2rem);
    /* opacity: 0; */
}

.button-Form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgb(138, 138, 138);
    width: 10vw;
    height: 5vw;
    border-radius: 25px;
    opacity: 0.5;

}

.button-Form {
    color: black;
    text-decoration: none;
    font-family: 'PressGothic', sans-serif;
    font-weight: bold;
    font-size: clamp(0.5rem, 1.2vw, 2rem);
}
/* Lefth Element */

.div-Landing-Responsive-Conntainer-Lefth-Element {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 33vw;
}
.div-Landing-Responsive-Conntainer-Lefth-Element:hover img{
    transition: 0.3s;
    opacity: 1;
}
.div-Landing-Responsive-Conntainer-Lefth-Element:hover h2{
    transition: 0.3s;
    color: white;
}
.div-Landing-Responsive-Conntainer-Lefth-Element:hover .button-Form{
    transition: 0.7s;
    opacity: 1;
    background: white;
}
.efect {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    width: 33vw;
    height: 30vw;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) 100%);
}

.image-Landing-Container-Background-Lefth {
    position: absolute;
    width: 33vw;
    height: 25vw;
    opacity: 0.5;
    margin-top: 13.9vw;
}
.image-Landing-Container-Lefth{
    position: relative;
    max-width: 5vw;
    opacity: 0.5;

}

/* Center Element */

.div-Landing-Responsive-Conntainer-Center-Element{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 33vw;
}
.image-Landing-Container-Background-Center {
    position: absolute;
    width: 33vw;
    height: 26.1vw;
    opacity: 0.5;
    margin-top: 13.9vw;
}

.div-Landing-Responsive-Conntainer-Center-Element:hover img{
    transition: 0.3s;
    opacity: 1;
}
.div-Landing-Responsive-Conntainer-Center-Element:hover h2{
    transition: 0.3s;
    color: white;
}
.div-Landing-Responsive-Conntainer-Center-Element:hover .button-Form{
    transition: 0.7s;
    opacity: 1;
    background: white;
}

/* Rigth Element */

.div-Landing-Responsive-Conntainer-Rigth-Element{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 33vw;
}
.image-Landing-Container-Background-Rigth {
    position: absolute;
    width: 33vw;
    height: 22.7vw;
    opacity: 0.5;
    margin-top: 13.9vw;

}

.div-Landing-Responsive-Conntainer-Rigth-Element:hover img{
    transition: 0.3s;
    opacity: 1;
}
.div-Landing-Responsive-Conntainer-Rigth-Element:hover h2{
    transition: 0.3s;
    color: white;
}
.div-Landing-Responsive-Conntainer-Rigth-Element:hover .button-Form{
    transition: 0.7s;
    opacity: 1;
    background: white;
}